@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Inter/Inter-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter-Thin';
	font-style: normal;
	font-weight: 100;
	src: url('/fonts/Inter/Inter-Thin.ttf') format('truetype');
}


:root {
	--font-body: 'Inter-Thin';
	--font-header: 'Inter';
	font-family: var(--font-body);
}

body {
	background-color: #1f1f1f;
	min-height: 100vh;
	margin: 0;
	overflow-y: hidden;
}

h1 {
	font-family: var(--font-header);
	font-size: 4vw;
	color: #d3d3d3;
	width: 100%;
}

p {
	font-family: 'Inter-Thin';
	width: 100%;
	color: #b7b7b7;
	margin: 0;
}

ul {
	padding-left: 1em;
}

li {
	margin: 0.5em;
}

a:link {
	color: #75a6ff;
}

a:visited {
	color: #75a6ff;
}

a:active {
	color: #a1c2ff;
}

a:hover {
	color: #94baff;
}
